<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="books.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Books</title>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>   
<div class="navbar">
  <a class="active" href="index.html"><i class="fa fa-fw fa-home"></i> HOME</a>
  <a class="active" href="books.html"><i class="fa fa-fw fa-search"></i> BOOKS</a>
  <a class="active" href="contact.html"><i class="fa fa-fw fa-envelope"></i> CONTACT</a>
  <div class="topnav-right">
  <a class="active" href="log.html"><i class="fa fa-fw fa-user"></i> Login</a>
  <a class="active" href="sign.html"><i class="fa fa-fw fa-pencil"></i> Sign Up</a>
</div>
<div class="blog">
  <div class="container">
  <h1 class="text-center">Writings by Famous Authors</h1>
   <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12">
     <div class="card">
      <div class="card-img">
       <img src="images/war n peace.jpg" class="img-fluid">
      </div>
      
      <div class="card-body">
      <h4 class="card-title">War & Peace</h4>
       <p class="card-text"> Leo Tolstoy</p>
      </div>
      <div class="card-footer">
       <a href="" class="card-link">https://www.penguinrandomhouse.com/books/208646/war-and-peace-by-leo-tolstoy-a-new-translation-by-richard-pevear-and-larissa-volokhonsky/</a>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
     <div class="card">
      <div class="card-img">
       <img src="images/golden compass.jpg" class="img-fluid">
      </div>
      
      <div class="card-body">
         <h4 class="card-title">The Golden Compass</h4>
       <p class="card-text">Philip Pullman</p>
      </div>
      <div class="card-footer">
       <a href="" class="card-link">https://www.penguinrandomhouse.com/books/136447/his-dark-materials-the-golden-compass-hbo-tie-in-edition-by-philip-pullman/</a>
      </div>
     </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
     <div class="card">
      <div class="card-img">
       <img src="images/salman.jpg" class="img-fluid">
      </div>
      
      <div class="card-body">
      <h4 class="card-title">The Satanic Verses</h4>
       <p class="card-text">Salman Rushdie</p>
      </div>
      <div class="card-footer">
       <a href="" class="card-link">https://www.penguinrandomhouse.com/books/158937/the-satanic-verses-by-salman-rushdie/</a>
      </div>
      </div>
      </div>
      </div>
    </br>
  </br>
</br>
</br>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
         <div class="card">
          <div class="card-img">
           <img src="images/191.jpg" class="img-fluid">
          </div>
          
          <div class="card-body">
          <h4 class="card-title">1984</h4>
           <p class="card-text">George Orwell</p>
          </div>
          <div class="card-footer">
           <a href="" class="card-link">https://www.penguinrandomhouse.com/books/326569/1984-by-george-orwell-with-a-foreword-by-thomas-pynchon/</a>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
         <div class="card">
          <div class="card-img">
           <img src="images/song of solomon.jpg" class="img-fluid">
          </div>
          
          <div class="card-body">
             <h4 class="card-title">Song of Solomon</h4>
           <p class="card-text">Toni Morrison</p>
          </div>
          <div class="card-footer">
           <a href="" class="card-link">https://www.penguinrandomhouse.com/books/117657/song-of-solomon-by-toni-morrison/</a>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
         <div class="card">
          <div class="card-img">
           <img src="images/the lord of the rings.jpg" class="img-fluid">
          </div>
          
          <div class="card-body">
          <h4 class="card-title">The Lord Of The Rings</h4>
           <p class="card-text">J.R.R. Tolkien</p>
          </div>
          <div class="card-footer">
           <a href="" class="card-link">https://www.penguinrandomhouse.com/books/179203/the-fellowship-of-the-ring-by-jrr-tolkien/</a>
          </div>     
     </div>
    </div>
   </div>
   </div>
   </div>
   <div class="footer">
    <p>@Copyright 2020 Library Of Kerala</p>
  </div>
</body>
</html>